h1 {
    font-size: 2.0rem;
}

h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.attachment {
    list-style-type: none;
}

ul.attachments {
    padding-left: 0;
}

.caps-setting-header {
  @extend .h5;
  @extend .font-weight-bold;
  margin-top: 15px;
}

div > p:last-child, dl:last-child, ul:last-child, ol:last-child {
    margin-bottom: 0px;
}
