$primary: #0F406C;
$danger: #EF3322;
$warning: #F4C301;
$success: #5BA150;

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts" !default;

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/v4-shims.scss";

@import "startbootstrap-sb-admin-2/scss/sb-admin-2.scss";
@import "caps.scss";
