$primary_old: #0F406C;
$primary: #003D4C;
$secondary: #484818;
$body_color: $secondary;
$danger: #a24139;
$warning: #d8b940;
$success: #5BA150;

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts" !default;

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/v4-shims.scss";

@import "startbootstrap-sb-admin-2/scss/sb-admin-2.scss";
@import "bootstrap-select/sass/bootstrap-select.scss";
@import "caps.scss";
