#header,
#content .notice,
#content .success,
#content .planActions,
#content .heading--web,
#footer {
    display: none;
}

.bureaucracy {
    display: block;
}

.bureaucracy .left {
    float: left;
}

.bureaucracy .right {
    float: right;
}

.bureaucracy .result ul {
    display: inline;
    list-style-type: none;
}

.bureaucracy .result ul li {
    display: inline;
    margin-right: 15px;
}

.bureaucracy h2,
.bureaucracy h3 {
    color: #333;
    margin-bottom: .5px;
}

.bureaucracy img {
    padding-top: 5px;
    padding-right: 10px;
}

.bureaucracy h2 {
    font-size: 130%;
}

.bureaucracy h3 {
    font-size: 110%;
}

.bureaucracy .heading {
    margin-bottom: 12px;
}

.bureaucracy .data {
    margin-bottom: 12px;
}
