form div {
    padding: 0;
}

form .submit input[type=submit] {
    padding: 8px 12px 8px 12px;
    font-weight: bold;
    clear: none;
}

#completeForm div.submit {
    clear: none;
    display: inline-block;
    margin-right: 15px;
}

form .submit input[type=submit]:disabled {
    background-color: #888;
    color: #ccc;
    background-image: none;
    box-shadow: none;
}

select {
    padding: 1%;
    vertical-align: 45%;
    width: 100%;
}

input {
    font-size: 120%;
    vertical-align: 30%;
}

table {
    margin-bottom: 3%;
}

.view th {
  width: 5em;
  text-align: right;
}

.attribution {
    float: left;
}

.success {
    padding: 0.8em;
}

.actions li {
    display: inline;
}

#header h1 {
    height: 60px;
    padding: 0 0 0 70px;
    background-image: url("img/cherubino_white.png"), url("img/logo_white.png");
    background-position: 0 0, right center;
}

#header ul, .caps-admin-navigation ul, .caps-admin-navigation li, .caps-admin-actions li, .caps-admin-actions ul {
    margin: 0;
    padding: 0 0 0.5em 0;
}

div .disclaimer {
    background-color: #e0e080;
    color: black;
    padding: .4em;
		padding-left: 20px; /* Aligned with #content */
}

#completeForm {
	display: none;
}

.credit-count {
	  flush: right;
		font-size: 1.2em;
		padding-top: 0;
		padding-bottom: 45px;
}

#curriculum-select select {
    margin: 1% 0;
    width: auto;
}

select#academicYearSelect {
    margin-right: 15px;
}

#loadingIcon {
    margin-left: 15px;
    display: none;
}

.filterForm select {
    width: auto;
    padding: 2px;
}

.filterForm input {
    width: auto;
    padding: 2px;
}

.filterForm .input {
    clear: none;
    width: auto;
    display: inline-block;
    padding: 0 1em 0 0;
}

#proposalNotes {
    font-size: 120%;
    background-color: #e1e080;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 25px;
    display: none;
}

#proposalForm h3 {
    float: left;
}

#proposalForm nav {
    float: right;
}

#proposalForm hr {
    padding: 1px 0;
    margin: 1% 0;
    clear: both;
    background-color: rgb(44, 104, 119);
}

#proposalForm hr.proposal-year {
     margin-top: 35px;
 }

#proposalForm ul {
    clear: both;
    padding: 1% 0;
    list-style-type: none;
}

#proposalForm ul li {
    margin-bottom: 6px;
}

#proposalForm ul li select.exam {
    margin-right: 5%;
    width: 72.5%;
}

#proposalForm ul li select.exam+a.delete {
    margin-left: 15%;
}

#proposalForm ul li input.exam {
    margin-right: 5%;
    width: 70%;
}

#proposalForm ul li select.credits {
    margin-right: 5%;
    width: 10%;
}

#proposalForm ul li input.credits {
    margin-right: 5%;
    width: 7.5%;
}

#proposalForm div.credits-number {
    display: inline;
    vertical-align: 45%;
    font-size: 130%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#proposalForm ul li a.delete {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("img/trash.png");
}

#proposalForm ul li a.delete:hover,
#proposalForm ul li a.delete:active,
#proposalForm ul li a.delete:focus {
    background-position: right 30px;
}

#proposalForm .actions {
    margin-left: 24px;
}

#proposalForm .actions li:first-child {
    margin-right: 24px;
}

.creditsError {
    color: rgb(238, 51, 34);
}

.creditsWarning {
	  color: rgb(255, 204, 0);
}

#proposalWarning {
	padding: 10px;
	background-color: rgb(255, 235, 153);
	font-size: 1.2em;
	display: none;
}

.planActions {
    list-style-type: none;
    padding: 0px;
    margin: 50px 0px 0px;
}

.planActions li {
    margin: 0px;
    padding: 0px;
    width: 33%;
    display: inline-block;
    text-align: center;
}

.planActions li a {
    padding: 3% 33%;
    font-size: 110%;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
}

.green,
.planActions .accept,
.actions .accept {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
    background:#62af56;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    border-color: #25691a;
}

.green:hover,
.planActions .accept:hover,
.actions .accept:hover {
    background: #5BA150;
    border-color: #25691a;
}

.red,
.planActions .reject,
.actions .reject {
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3) !important;
    background: #c43c35 !important;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35) !important;
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35)) !important;
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35) !important;
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35) !important;
    background-image: linear-gradient(top, #ee5f5b, #c43c35) !important;
    border-color: #7f1711 !important;
}

.red:hover,
.planActions .reject:hover,
.actions .reject:hover {
    background: #c43c35 !important;
    border-color: #7f1711 !important;
}

.yellow,
.planActions .back {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
	background: #ffcc00 !important;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800) !important;
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800)) !important;
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800) !important;
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800) !important;
	background-image: linear-gradient(top, #ffcc00, #E6B800) !important;
    border-color: #a68500 !important;
}

.yellow:hover,
.planActions .back:hover {
	background: #ffcc00 !important;
    border-color: #a68500 !important;
}

li.attachment {
    margin-left: 0px;
    padding: 6px;
    list-style-type: none;
    border-left: 10px solid rgb(44, 104, 119);
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin-bottom: 10px;
}


li.authorization {
    margin-left: 0px;
    padding: 6px;
    list-style-type: none;
    border-left: 10px solid #FFCC00;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin-bottom: 10px;
}

.attachments ul {
    margin-bottom: 25px;
}

.proposal-tag {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid black;
    padding: 1px 4px 1px 4px;
    font-size: 80%;
    margin-left: 6px;
    font-weight: bold;
}

.bureaucracy {
    display: none;
}

.nyanCat {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 301px;
    height: 119px;
    background: url("img/nyan.gif");
}

ul.topmenu {
    margin: 0;
    margin-top: 20px;
    width: 48%;
    clear: none;
    display: inline-block;
    margin-bottom: 4px;
}

.topmenu li {
    list-style-type: none;
    display: inline-block;
    font-size: 120%;
    padding-right: 16px;
}

.topmenu li > a {
    border: 1px solid transparent;
    padding: 10px;
}

.topmenu li > a:hover {
    border: 1px solid white;
    border-radius: 4px;
    background-color: #2a62bccc;
}

ul.status {
    list-style-type: none;
    margin: 0;
    padding-right: 8px;
    margin-top: 16px;
    text-align: right;
    clear: none;
    display: inline-block;
    width: 48%;
}

.status li {
    display: inline-block;
    font-size: 20px;
    margin-left: 1%;
}

.status li a {
    text-decoration: none;
}

.status li a:hover {
    text-decoration: underline;
}

.status .logout {
    padding: 3% 10px;
    font-size: 110%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    background: #c43c35;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    border: 1px solid #7f1711;
}

.status .logout:hover,
.status .logout:active {
    background: #c43c35;
    border-color: #7f1711;
}

.caps-admin-navigation {
    margin-top: 40px;
    margin-bottom: 40px;
}

.caps-admin-navigation ul li {
    width: 19%;
    display: inline-block;
    text-align: center;
}

.caps-admin-navigation ul li a {
    padding: 3% 25%;
    font-size: 110%;
    background: #dcdcdc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
    background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
    background-image: linear-gradient(top, #fefefe, #dcdcdc);
    color:#333;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    text-shadow: #fff 0px 1px 0px;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-user-select: none;
    user-select: none;
}

.caps-admin-navigation ul li a:hover {
    background: #ededed;
    border-color: #acacac;
    text-decoration: none;
}

.caps-admin-navigation ul li a:active {
    background: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
    background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
    background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
    background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
    background-image: -o-linear-gradient(top, #dfdfdf, #eee);
    background-image: linear-gradient(top, #dfdfdf, #eee);
    text-shadow: #eee 0px 1px 0px;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    border-color: #aaa;
    text-decoration: none;
}

.caps-admin-navigation ul li.selected a {
    color: #e32;
}

.caps-admin-navigation ul li.caps-update-link a,
.caps-admin-navigation ul li.caps-admin-link a {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #ffcc00;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
    border-color: #a68500;
}

.caps-admin-actions ul {
    width: 100%;
    list-style-type: none;
    margin-top: 30px;
}

.caps-admin-actions ul li a {
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    padding: 1% 0;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
    background:#62af56;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    border: 1px solid #25691a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
}

.caps-admin-actions ul li a:hover {
    background: #5BA150;
    border-color: #25691a;
}

.caps-done,
.caps-exams,
.caps-frozen,
.caps-todo {
    margin-bottom: 30px;
}

.caps-pagination {
    font-size: 24px;
    text-align: center;
}

ul.caps-pagination > li {
   list-style-type: none;
   display: inline;
   margin-right: 6px;
   margin-left: 6px;
}

.caps-admin-curriculum-name {
    width: 70%;
}

input.caps-admin-curriculum-exam-submit,
input.caps-admin-curriculum-group-submit,
input.caps-admin-curriculum-submit {
    font-size: 120%;
    margin-left: 10px;
    padding: 1% 2%;
}

hr.caps-admin-curriculum {
    padding: 1px 0;
    margin: 1% 0;
    clear: both;
    background-color: rgb(44, 104, 119);
}

.caps-admin-curriculum-exam-name,
.caps-admin-curriculum-exam-name-choose,
.caps-admin-curriculum-group-name-choose {
    width: 70%;
}

.caps-admin-curriculum-exam-year,
.caps-admin-curriculum-exam-year-choose,
.caps-admin-curriculum-group-year-choose,
.caps-admin-curriculum-exam-actions {
    width: 15%;
}

.caps-admin-curriculum-exam-year-choose,
.caps-admin-curriculum-group-year-choose {
    margin-left: 10px;
}

.caps-admin-proposal-name,
.caps-admin-proposal-actions {
    width: 20%;
}

.caps-admin-proposal-degree {
    width: 25%;
}

.caps-admin-proposal-pds {
    width: 25%;
}

.caps-admin-groups-id,
.caps-admin-curricula-id {
    width: 5%;
}

.caps-admin-curricula-year {
    width: 10%;
}

.caps-admin-curricula-degree {
    width: 20%;
}

.caps-admin-curricula-name {
    width: 45%;
}

.caps-admin-groups-name {
    width: 75%;
}

.caps-admin-groups-actions,
.caps-admin-degrees-action,
.caps-admin-curricula-actions {
    width: 20%;
}

.caps-admin-exams-name {
    width: 60%;
}

.caps-admin-exams-id,
.caps-admin-exams-code,
.caps-admin-exams-sector,
.caps-admin-exams-credits {
    width: 5%;
}

.caps-admin-exams-actions {
    width: 20%;
}
