[Unit]
Description=CI for CAPS
After=network.target

[Service]
User=www-data
Group=www-data
Type=simple
ExecStart=/usr/bin/gunicorn ci-server:app -b 0.0.0.0:8081
WorkingDirectory=/var/www/caps/scripts
Restart=always

[Install]
WantedBy=multi-user.target
