h1 {
    font-size: 2.0rem;
}

h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.attachment, .exam-input {
    list-style-type: none;
}

ul.attachments {
    padding-left: 0;
}

.caps-setting-header {
  @extend .h5 !optional;
  @extend .font-weight-bold !optional;
  margin-top: 15px;
}

div > p:last-child, dl:last-child, ul:last-child, ol:last-child {
    margin-bottom: 0px;
}

.topbar {
    height: auto;
    min-height: 4.375rem;
}

// Transition change of size for the columns when the media query is updated
.row [class*='col-'] {
    transition: all 0.5s ease-in-out;
}

// Hover effects for clickable cards
.clickable-card {
    transition: all 0.3s ease;
}
.clickable-card:hover {
    box-shadow: 0px 5px 5px 4px rgb(19 19 20 / 35%) !important;
    transform: translateY(-2%);
    cursor: pointer;
}