#form-form input[type=text], #form-form input[type=email] {
    @extend .form-control !optional;
    display: inline-block;
    width: auto;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    height: 1.35em;
}

#form-form select {
    @extend .form-control !optional;
    display: inline-block;
    width: auto;
    height: 1.35em;    
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

#form-form textarea {
    @extend .form-control !optional;
}

#form-form option {
    @extend .form-control !optional;
}